language: android

env:
  global:
  - ANDROID_API=28
  - ANDROID_BUILD_TOOLS=28.0.3

android:
  components:
  - tools
  - platform-tools
  - build-tools-$ANDROID_BUILD_TOOLS
  - android-$ANDROID_API
  - extra-android-support
  - extra-google-m2repository
  - extra-android-m2repository

before_install:
- yes | sdkmanager "platforms;android-$ANDROID_API"
- yes | sdkmanager "build-tools;$ANDROID_BUILD_TOOLS"

jdk:
- oraclejdk8

script: ./gradlew clean test --stacktrace

branches:
  except:
  - images
  - gh-pages
  - travis-build
  - i18n

notifications:
  email: false

sudo: false

before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - "$HOME/.android/build-cache"
  - "$HOME/.m2"
  - "$HOME/.gradle"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"

before_script:
- chmod +x gradlew
